<option value="">-- Select Nationality -- / اختر الجنسية --</option>
<option value="Afghanistan">Afghanistan / أفغانستان</option>
<option value="Albania">Albania / ألبانيا</option>
<option value="Algeria">Algeria / الجزائر</option>
<option value="Andorra">Andorra / أندورا</option>
<option value="Angola">Angola / أنغولا</option>
<option value="Antigua and Barbuda">Antigua and Barbuda / أنتيغوا وبربودا</option>
<option value="Argentina">Argentina / الأرجنتين</option>
<option value="Armenia">Armenia / أرمينيا</option>
<option value="Australia">Australia / أستراليا</option>
<option value="Austria">Austria / النمسا</option>
<option value="Azerbaijan">Azerbaijan / أذربيجان</option>
<option value="Bahamas">Bahamas / الباهاماس</option>
<option value="Bahrain">Bahrain / البحرين</option>
<option value="Bangladesh">Bangladesh / بنغلاديش</option>
<option value="Barbados">Barbados / باربادوس</option>
<option value="Belarus">Belarus / بيلاروس</option>
<option value="Belgium">Belgium / بلجيكا</option>
<option value="Belize">Belize / بليز</option>
<option value="Benin">Benin / بنين</option>
<option value="Bhutan">Bhutan / بوتان</option>
<option value="Bolivia">Bolivia / بوليفيا</option>
<option value="Bosnia and Herzegovina">Bosnia and Herzegovina / البوسنة والهرسك</option>
<option value="Botswana">Botswana / بوتسوانا</option>
<option value="Brazil">Brazil / البرازيل</option>
<option value="Brunei">Brunei / بروناي</option>
<option value="Bulgaria">Bulgaria / بلغاريا</option>
<option value="Burkina Faso">Burkina Faso / بوركينا فاسو</option>
<option value="Burundi">Burundi / بوروندي</option>
<option value="Cabo Verde">Cabo Verde / الرأس الأخضر</option>
<option value="Cambodia">Cambodia / كمبوديا</option>
<option value="Cameroon">Cameroon / الكاميرون</option>
<option value="Canada">Canada / كندا</option>
<option value="Central African Republic">Central African Republic / جمهورية أفريقيا الوسطى</option>
<option value="Chad">Chad / تشاد</option>
<option value="Chile">Chile / تشيلي</option>
<option value="China">China / الصين</option>
<option value="Colombia">Colombia / كولومبيا</option>
<option value="Comoros">Comoros / جزر القمر</option>
<option value="Congo">Congo / الكونغو</option>
<option value="Costa Rica">Costa Rica / كوستاريكا</option>
<option value="Croatia">Croatia / كرواتيا</option>
<option value="Cuba">Cuba / كوبا</option>
<option value="Cyprus">Cyprus / قبرص</option>
<option value="Czech Republic">Czech Republic / التشيك</option>
<option value="Denmark">Denmark / الدنمارك</option>
<option value="Djibouti">Djibouti / جيبوتي</option>
<option value="Dominica">Dominica / دومينيكا</option>
<option value="Dominican Republic">Dominican Republic / جمهورية الدومينيكان</option>
<option value="Ecuador">Ecuador / الإكوادور</option>
<option value="Egypt">Egypt / مصر</option>
<option value="El Salvador">El Salvador / السلفادور</option>
<option value="Equatorial Guinea">Equatorial Guinea / غينيا الاستوائية</option>
<option value="Eritrea">Eritrea / إريتريا</option>
<option value="Estonia">Estonia / إستونيا</option>
<option value="Eswatini">Eswatini / إسواتيني</option>
<option value="Ethiopia">Ethiopia / إثيوبيا</option>
<option value="Fiji">Fiji / فيجي</option>
<option value="Finland">Finland / فنلندا</option>
<option value="France">France / فرنسا</option>
<option value="Gabon">Gabon / الغابون</option>
<option value="Gambia">Gambia / غامبيا</option>
<option value="Georgia">Georgia / جورجيا</option>
<option value="Germany">Germany / ألمانيا</option>
<option value="Ghana">Ghana / غانا</option>
<option value="Greece">Greece / اليونان</option>
<option value="Grenada">Grenada / غرينادا</option>
<option value="Guatemala">Guatemala / غواتيمالا</option>
<option value="Guinea">Guinea / غينيا</option>
<option value="Guinea-Bissau">Guinea-Bissau / غينيا بيساو</option>
<option value="Guyana">Guyana / غيانا</option>
<option value="Haiti">Haiti / هايتي</option>
<option value="Honduras">Honduras / هندوراس</option>
<option value="Hungary">Hungary / المجر</option>
<option value="Iceland">Iceland / آيسلندا</option>
<option value="India">India / الهند</option>
<option value="Indonesia">Indonesia / إندونيسيا</option>
<option value="Iran">Iran / إيران</option>
<option value="Iraq">Iraq / العراق</option>
<option value="Ireland">Ireland / أيرلندا</option>
<option value="Italy">Italy / إيطاليا</option>
<option value="Jamaica">Jamaica / جامايكا</option>
<option value="Japan">Japan / اليابان</option>
<option value="Jordan">Jordan / الأردن</option>
<option value="Kazakhstan">Kazakhstan / كازاخستان</option>
<option value="Kenya">Kenya / كينيا</option>
<option value="Kiribati">Kiribati / كيريباتي</option>
<option value="Kuwait">Kuwait / الكويت</option>
<option value="Kyrgyzstan">Kyrgyzstan / قيرغيزستان</option>
<option value="Laos">Laos / لاوس</option>
<option value="Latvia">Latvia / لاتفيا</option>
<option value="Lebanon">Lebanon / لبنان</option>
<option value="Lesotho">Lesotho / ليسوتو</option>
<option value="Liberia">Liberia / ليبيريا</option>
<option value="Libya">Libya / ليبيا</option>
<option value="Liechtenstein">Liechtenstein / ليختنشتاين</option>
<option value="Lithuania">Lithuania / ليتوانيا</option>
<option value="Luxembourg">Luxembourg / لوكسمبورغ</option>
<option value="Madagascar">Madagascar / مدغشقر</option>
<option value="Malawi">Malawi / مالاوي</option>
<option value="Malaysia">Malaysia / ماليزيا</option>
<option value="Maldives">Maldives / المالديف</option>
<option value="Mali">Mali / مالي</option>
<option value="Malta">Malta / مالطا</option>
<option value="Marshall Islands">Marshall Islands / جزر مارشال</option>
<option value="Mauritania">Mauritania / موريتانيا</option>
<option value="Mauritius">Mauritius / موريشيوس</option>
<option value="Mexico">Mexico / المكسيك</option>
<option value="Micronesia">Micronesia / ميكرونيزيا</option>
<option value="Moldova">Moldova / مولدوفا</option>
<option value="Monaco">Monaco / موناكو</option>
<option value="Mongolia">Mongolia / منغوليا</option>
<option value="Montenegro">Montenegro / الجبل الأسود</option>
<option value="Morocco">Morocco / المغرب</option>
<option value="Mozambique">Mozambique / موزمبيق</option>
<option value="Myanmar">Myanmar / ميانمار</option>
<option value="Namibia">Namibia / ناميبيا</option>
<option value="Nauru">Nauru / ناورو</option>
<option value="Nepal">Nepal / نيبال</option>
<option value="Netherlands">Netherlands / هولندا</option>
<option value="New Zealand">New Zealand / نيوزيلندا</option>
<option value="Nicaragua">Nicaragua / نيكاراغوا</option>
<option value="Niger">Niger / النيجر</option>
<option value="Nigeria">Nigeria / نيجيريا</option>
<option value="North Korea">North Korea / كوريا الشمالية</option>
<option value="North Macedonia">North Macedonia / مقدونيا الشمالية</option>
<option value="Norway">Norway / النرويج</option>
<option value="Oman">Oman / عُمان</option>
<option value="Pakistan">Pakistan / باكستان</option>
<option value="Palau">Palau / بالاو</option>
<option value="Panama">Panama / بنما</option>
<option value="Papua New Guinea">Papua New Guinea / بابوا غينيا الجديدة</option>
<option value="Paraguay">Paraguay / باراغواي</option>
<option value="Peru">Peru / بيرو</option>
<option value="Philippines">Philippines / الفلبين</option>
<option value="Poland">Poland / بولندا</option>
<option value="Portugal">Portugal / البرتغال</option>
<option value="Qatar">Qatar / قطر</option>
<option value="Romania">Romania / رومانيا</option>
<option value="Russia">Russia / روسيا</option>
<option value="Rwanda">Rwanda / رواندا</option>
<option value="Saint Kitts and Nevis">Saint Kitts and Nevis / سانت كيتس ونيفيس</option>
<option value="Saint Lucia">Saint Lucia / سانت لوسيا</option>
<option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines / سانت فنسنت والغرينادين</option>
<option value="Samoa">Samoa / ساموا</option>
<option value="San Marino">San Marino / سان مارينو</option>
<option value="Sao Tome and Principe">Sao Tome and Principe / ساو تومي وبرينسيبي</option>
<option value="Saudi Arabia">Saudi Arabia / السعودية</option>
<option value="Senegal">Senegal / السنغال</option>
<option value="Serbia">Serbia / صربيا</option>
<option value="Seychelles">Seychelles / سيشل</option>
<option value="Sierra Leone">Sierra Leone / سيراليون</option>
<option value="Singapore">Singapore / سنغافورة</option>
<option value="Slovakia">Slovakia / سلوفاكيا</option>
<option value="Slovenia">Slovenia / سلوفينيا</option>
<option value="Solomon Islands">Solomon Islands / جزر سليمان</option>
<option value="Somalia">Somalia / الصومال</option>
<option value="South Africa">South Africa / جنوب أفريقيا</option>
<option value="South Korea">South Korea / كوريا الجنوبية</option>
<option value="South Sudan">South Sudan / جنوب السودان</option>
<option value="Spain">Spain / إسبانيا</option>
<option value="Sri Lanka">Sri Lanka / سريلانكا</option>
<option value="Sudan">Sudan / السودان</option>
<option value="Suriname">Suriname / سورينام</option>
<option value="Sweden">Sweden / السويد</option>
<option value="Switzerland">Switzerland / سويسرا</option>
<option value="Syria">Syria / سوريا</option>
<option value="Taiwan">Taiwan / تايوان</option>
<option value="Tajikistan">Tajikistan / طاجيكستان</option>
<option value="Tanzania">Tanzania / تنزانيا</option>
<option value="Thailand">Thailand / تايلاند</option>
<option value="Timor-Leste">Timor-Leste / تيمور الشرقية</option>
<option value="Togo">Togo / توغو</option>
<option value="Tonga">Tonga / تونغا</option>
<option value="Trinidad and Tobago">Trinidad and Tobago / ترينيداد وتوباغو</option>
<option value="Tunisia">Tunisia / تونس</option>
<option value="Turkey">Turkey / تركيا</option>
<option value="Turkmenistan">Turkmenistan / تركمانستان</option>
<option value="Tuvalu">Tuvalu / توفالو</option>
<option value="Uganda">Uganda / أوغندا</option>
<option value="Ukraine">Ukraine / أوكرانيا</option>
<option value="United Arab Emirates">United Arab Emirates / الإمارات</option>
<option value="United Kingdom">United Kingdom / المملكة المتحدة</option>
<option value="United States">United States / الولايات المتحدة</option>
<option value="Uruguay">Uruguay / أوروغواي</option>
<option value="Uzbekistan">Uzbekistan / أوزبكستان</option>
<option value="Vanuatu">Vanuatu / فانواتو</option>
<option value="Vatican City">Vatican City / الفاتيكان</option>
<option value="Venezuela">Venezuela / فنزويلا</option>
<option value="Vietnam">Vietnam / فيتنام</option>
<option value="Yemen">Yemen / اليمن</option>
<option value="Zambia">Zambia / زامبيا</option>
<option value="Zimbabwe">Zimbabwe / زيمبابوي</option>
<option value="Other">Other / أخرى</option>