<option value="">-- Select City -- / اختر المدينة --</option>
<option value="Riyadh">Riyadh / الرياض</option>
<option value="Jeddah">Jeddah / جدة</option>
<option value="Dammam">Dammam / الدمام</option>
<option value="Makkah">Makkah / مكة</option>
<option value="Madinah">Madinah / المدينة المنورة</option>
<option value="Khobar">Al Khobar / الخبر</option>
<option value="Dhahran">Dhahran / الظهران</option>
<option value="Qassim">Qassim / القصيم</option>
<option value="Buraidah">Buraidah / بريدة</option>
<option value="Abha">Abha / أبها</option>
<option value="Khamis Mushait">Khamis Mushait / خميس مشيط</option>
<option value="Hail">Hail / حائل</option>
<option value="Tabuk">Tabuk / تبوك</option>
<option value="Jazan">Jazan / جازان</option>
<option value="Najran">Najran / نجران</option>
<option value="Al Baha">Al Baha / الباحة</option>
<option value="Sakaka">Sakaka / سكاكا</option>
<option value="Arar">Arar / عرعر</option>
<option value="Yanbu">Yanbu / ينبع</option>
<option value="Rabigh">Rabigh / رابغ</option>
<option value="Taif">Taif / الطائف</option>
<option value="Al Ahsa">Al Ahsa / الأحساء</option>
<option value="Hafar Al Batin">Hafar Al Batin / حفر الباطن</option>
<option value="Jubail">Jubail / الجبيل</option>
<option value="Rafha">Rafha / رفحاء</option>
<option value="Turaif">Turaif / طريف</option>
<option value="Al Wajh">Al Wajh / الوجه</option>
<option value="Dawadmi">Ad Dawadmi / الدوادمي</option>
<option value="Mahd">Mahd / مهد الذهب</option>
<option value="Qurayyat">Qurayyat / القريات</option>
<option value="Baljurashi">Baljurashi / بلجرشي</option>
<option value="Other">Other / أخرى</option>