@font-face {
    font-family: "Flaticon-V7";
    src: url("./fonts/flaticon-v7.ttf") format("truetype"),
url("./fonts/flaticon-v7.woff") format("woff"),
url("./fonts/flaticon-v7.woff2") format("woff2"),
url("./fonts/flaticon-v7.eot") format("embedded-opentype"),
url("./fonts/flaticon-v7.svg") format("svg");
}

i[class^="flaticonv7-"]:before, i[class*=" flaticonv7-"]:before {
    font-family: Flaticon-V7 !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticonv7-call:before {
    content: "\f101";
}
.flaticonv7-email:before {
    content: "\f102";
}
.flaticonv7-location:before {
    content: "\f103";
}
.flaticonv7-webpage:before {
    content: "\f104";
}
.flaticonv7-shield:before {
    content: "\f105";
}
.flaticonv7-compliance:before {
    content: "\f106";
}
.flaticonv7-compliant:before {
    content: "\f107";
}
.flaticonv7-cloud:before {
    content: "\f108";
}
.flaticonv7-id:before {
    content: "\f109";
}
.flaticonv7-face-detection:before {
    content: "\f10a";
}
.flaticonv7-worldwide:before {
    content: "\f10b";
}
.flaticonv7-place:before {
    content: "\f10c";
}
.flaticonv7-play-button:before {
    content: "\f10d";
}
.flaticonv7-data-network:before {
    content: "\f10e";
}
.flaticonv7-voip:before {
    content: "\f10f";
}
.flaticonv7-database:before {
    content: "\f110";
}
.flaticonv7-logistics:before {
    content: "\f111";
}
.flaticonv7-shield-1:before {
    content: "\f112";
}
.flaticonv7-global-shipping:before {
    content: "\f113";
}
.flaticonv7-digital-marketing:before {
    content: "\f114";
}
.flaticonv7-marketing:before {
    content: "\f115";
}
.flaticonv7-right-arrow:before {
    content: "\f116";
}
.flaticonv7-quotes:before {
    content: "\f117";
}
.flaticonv7-double-right-arrows-angles:before {
    content: "\f118";
}
.flaticonv7-office:before {
    content: "\f119";
}
.flaticonv7-community:before {
    content: "\f11a";
}
.flaticonv7-delivery-truck:before {
    content: "\f11b";
}
.flaticonv7-pricing:before {
    content: "\f11c";
}
.flaticonv7-plane:before {
    content: "\f11d";
}
.flaticonv7-minus:before {
    content: "\f11e";
}
.flaticonv7-target:before {
    content: "\f11f";
}
.flaticonv7-free-shipping:before {
    content: "\f120";
}
.flaticonv7-train:before {
    content: "\f121";
}
.flaticonv7-deadline:before {
    content: "\f122";
}
.flaticonv7-warehouse:before {
    content: "\f123";
}
.flaticonv7-facebook-logo:before {
    content: "\f124";
}
.flaticonv7-twitter:before {
    content: "\f125";
}
.flaticonv7-instagram:before {
    content: "\f126";
}
.flaticonv7-pinterest:before {
    content: "\f127";
}
.flaticonv7-headphones:before {
    content: "\f128";
}
.flaticonv7-telephone:before {
    content: "\f129";
}
.flaticonv7-navigation:before {
    content: "\f12a";
}
.flaticonv7-forklift:before {
    content: "\f12b";
}
.flaticonv7-shipping:before {
    content: "\f12c";
}
.flaticonv7-download-file:before {
    content: "\f12d";
}
.flaticonv7-office-1:before {
    content: "\f12e";
}
.flaticonv7-forklift-1:before {
    content: "\f12f";
}
.flaticonv7-airplane:before {
    content: "\f130";
}
.flaticonv7-rocket:before {
    content: "\f131";
}
.flaticonv7-client:before {
    content: "\f132";
}
.flaticonv7-goal:before {
    content: "\f133";
}
.flaticonv7-team:before {
    content: "\f134";
}
.flaticonv7-checkmark:before {
    content: "\f135";
}
.flaticonv7-boat:before {
    content: "\f136";
}
.flaticonv7-down-chevron:before {
    content: "\f137";
}
.flaticonv7-appartment:before {
    content: "\f138";
}
.flaticonv7-quote:before {
    content: "\f139";
}
.flaticonv7-discount:before {
    content: "\f13a";
}
.flaticonv7-shield-2:before {
    content: "\f13b";
}
.flaticonv7-arrow:before {
    content: "\f13c";
}
.flaticonv7-link:before {
    content: "\f13d";
}
.flaticonv7-product:before {
    content: "\f13e";
}
.flaticonv7-wallet:before {
    content: "\f13f";
}
.flaticonv7-tick:before {
    content: "\f140";
}
.flaticonv7-delivery:before {
    content: "\f141";
}
.flaticonv7-package:before {
    content: "\f142";
}
.flaticonv7-quote-1:before {
    content: "\f143";
}
.flaticonv7-calendar:before {
    content: "\f144";
}
.flaticonv7-dog-house:before {
    content: "\f145";
}
.flaticonv7-delivery-1:before {
    content: "\f146";
}
.flaticonv7-right-arrow-1:before {
    content: "\f147";
}
